.finishflex {
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    width: 300px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardBoard.selected {
    margin-top: -10px;
}

.cardBoard {
    width: 100%;
    max-width: 18vw;
    height: 14.8vw;
    margin-top: -6vw;
}
.cardBoard.first-child {
    margin-top: 0;
}